body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4d467;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  background-image: url("https://cdn.pixabay.com/photo/2013/02/25/04/37/basketball-85919_1280.jpg");
  min-width: 300px;
  min-height: 432px;
}

.player-card{
height: 400px;
max-width: 280px;
min-width: 230px;
}

.player-card:hover{
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);

}

.player-logo{
  height: 350px;
  transition: transform 0.2s;
  object-fit: cover;

}

.player-card:hover .player-logo{
  transform: scale(0.95);
}
